div {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 1280px;
    background-color: #737373;
}

.circle_image {
    width: 250px;
    margin: 50px;
    border-radius: 50%;
    border-width: 15px;
    border-style: solid;
    border-color: #444444;
}